@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./typography.css";

/* ===================== */
/* DESIGN SYSTEM BRIDGE */
/* ===================== */

:root {
  --background: #FFFDF9;
  /* brown-50 */
  --foreground: #000000;
  /* neutral-100 */

  --muted: #f3f3f6;
  /* neutral-30 */
  --muted-foreground: #A7A7A7;
  /* neutral-60 */

  --border: #d9d9d9;
  /* neutral-40 */
  --input: #f3f3f6;

  --primary: #A98574;
  /* brown-70 */
  --primary-foreground: #ffffff;

  --secondary: #E4D9D4;
  /* brown-60 */
  --secondary-foreground: #000000;

  --ring: #A98574;
}


@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }


  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  html {
    font-family: var(--font-poppins);
  }
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}